{#
/**
 * @file
 * Override the system menu block to match IU Framework expectations.
 */
 #}
<nav{{ attributes }} role="navigation" aria-label=" {{ 'Section navigation'|t }}" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
  {{ title_prefix }}{{ title_suffix }}
  {{ content }}
</nav>
